.display-section-header {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
}

.display-section-img {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display-section-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.display-section-intro {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-block: 3rem;

}

.display-section-intro h2{
    font-size: 2.5rem;
    color: var(--cv-main-color);
    margin-bottom: 1rem;
}
.display-section-intro span{
    font-size: 1rem;
    color: rgb(176, 176, 176);
}
.display-section-intro p{
    font-size: 1.2rem;
}

.display-section-info div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-basis: 1;
}

.contact-info {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.email-display,
.phone-number-display,
.address-display {
    margin-left: 5px;
}

.contact-info-icon,
.add-education-row,
.add-experience-row
{
    background-color: var(--cv-main-color);
    padding: 0.2rem;
    border-radius: 5px;
}