footer {
    width: 100%;
    background-color: var(--cv-main-color);
    padding: 1rem;
    text-align: center;
    color: black;
}

footer a {
    color: rgb(13, 0, 151);
}

footer a:visited {
    color: purple;
}
