@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');


header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-background-color);
    padding: 1rem;
    color: rgb(255, 255, 255);
}

header nav ul:nth-child(1) {
    font-family: "Rubik Glitch",'Times New Roman', Times, serif;
    color: black;
    font-size: 2rem;
}

header nav ul li{
    list-style: none;
}

header nav ul li button {
    padding: 0.5rem;
    background-color: var(--nav-background-color);
    color: white;
    border: 3px solid rgb(164, 44, 0);
    border-radius: 5px;
    transition: 0.5s;
}
header nav ul li button:hover {
    background-color:  rgb(164, 44, 0);
    color: black;
}