* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background-color:#0A090C;
  --nav-background-color: rgb(0, 72, 96);
  --cv-main-color : rgb(96, 189, 246);
  --text-color : antiquewhite;
}

body {
  background-color: var(--main-background-color);
  color: var(--text-color);
}

/* width */
body::-webkit-scrollbar {
  width: 8px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 5px;
  border: 1px solid black;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--main-background-color);
}

hr {
  margin: 2rem 0;
  border-color: var(--cv-main-color);
}

.display-section {
  border: 3px solid rgb(0, 0, 0);
  padding: 1rem;
}

.input-section {
  border-right: 3px solid rgb(0, 0, 0);
  border-top: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

#resume-div {
  align-self: flex-end;
  margin: 1rem;
}

#print-resume {
  padding: 0.5rem;
  background-color: var(--main-background-color);
  border:2px solid var(--cv-main-color);
  color: white;
  border-radius: 5px;
  transition: 0.5s;
}
#print-resume:hover {
  background-color: var(--cv-main-color);
  color: black;
}

@media screen and (max-width:900px) {
  main {
      display: grid;
      grid-template-columns: 1fr;
  }
}


@media print {
  body {
    visibility: hidden;
    print-color-adjust: exact;
  }
  .display-section {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
}